@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --slider-animation: slider 20s infinite;
  --fade-animation: fade 4s infinite;
}

@keyframes slider {
  0%,
  20% {
    background-image: url(../img/cidade.jpg);
    --text-description: "Cidade";
  }
  21%,
  40% {
    background-image: url(../img/deck.jpg);
    --text-description: "Deck";
  }
  41%,
  60% {
    background-image: url(../img/floresta.jpg);
    --text-description: "Floresta";
  }
  61%,
  80% {
    background-image: url(../img/lago.jpg);
    --text-description: "Lago";
  }
  81%,
  100% {
    background-image: url(../img/montanha.jpg);
    --text-description: "Rio";
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    filter: blur(4px);
  }
  15%,
  85% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(4px);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Inter";
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  display: flex;
  justify-content: center;
  height: 100dvh;
  transition: 500ms;
}
.container {
  display: grid;
  place-self: center;
  border: 1px solid rgb(104, 103, 103);
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 1rem;
  padding: 2rem;
}
.container-item {
  display: grid;
  grid-template-columns: 1;
  place-content: center;
  gap: 1.5rem;
}

#mostrar-foto {
  height: 200px;
  width: 400px;
  border: 1px solid slategray;
  border-radius: 5px;
}

body:has(#mostrar-foto:hover) {
  backdrop-filter: grayscale(0%);
  cursor: pointer;
}

.slider {
  animation: var(--slider-animation);
  background-size: cover;
}
.fade {
  animation: var(--fade-animation);
}

.blur {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: grayscale(100%);
  z-index: -1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#btn-imagem {
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  border: 1px solid gray;
  border-radius: 5px;
  color: rgb(44, 44, 44);
  font-weight: 600;
  transition: 300ms;
}

#btn-imagem:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: black;
}

.text-p {
  text-align: center;
  font-size: 1.3rem;
}

span {
  font-weight: 600;
}

input,
#btn-imagem {
  font-size: large;
  padding: 0.5rem;
  width: 50%;
  align-self: center;
}
