:root {
  --slider-animation: slider 10s infinite;
  /* --fade-animation: fade 10s infinite; */
}

@keyframes slider {
  0%,
  20% {
    background-image: url(../img/cidade.jpg);
    --text-description: "Cidade";
  }
  21%,
  40% {
    background-image: url(../img/deck.jpg);
    --text-description: "Deck";
  }
  41%,
  60% {
    background-image: url(../img/floresta.jpg);
    --text-description: "Floresta";
  }
  61%,
  80% {
    background-image: url(../img/lago.jpg);
    --text-description: "Lago";
  }
  81%,
  100% {
    background-image: url(../img/rio.jpg);
    --text-description: "Rio";
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  15%,
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  height: 100vh;
}
.container {
  display: grid;
  place-content: center;
}
.container-item {
  display: grid;
  grid-template-columns: 1;
  place-content: center;
  margin-top: 30vh;
  gap: 1.5rem;
}
#mostrar-foto {
  height: 200px;
  width: 400px;
  border: 1px solid slategray;
  border-radius: 5px;
}
.carrossel {
  animation: var(--slider-animation);
  /* transition: var(--fade-animation); */
  background-size: cover;
}
